aside {
  grid-area: aside;
  position: relative;
  bottom: -58px;
  left: 50%;
}

body {
  font-size: 96%;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.index {
  font-family: "SansOpen";
  background-image: url(../assets/img/fondoDesktopMobile/leobyw.jpg);
  background-attachment: fixed;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: 13% 79% 8%;
  grid-template-areas: "header nav 0 " "main section 0" "footer aside aside";
}

@font-face {
  font-family: "SansOpen";
  src: url(../fonts/OpenSans-Bold.ttf);
}
.argentina {
  font-family: "exi";
  background-image: url(https://media.cnn.com/api/v1/images/stellar/prod/221127164140-lionel-messi-inter-miami-rumors-spt-intl.jpg?c=original);
  height: 100vh;
  position: fixed;
  display: grid;
  grid-template-columns: 38% 10% 52%;
  grid-template-rows: 12% 44% 44%;
  grid-template-areas: "tituloarg agasajando trivia" "recordsarg agasajando trivia" "video agasajando 0";
}

@font-face {
  font-family: "exi";
  src: url(../fonts/OpenSans-ExtraBoldItalic.ttf);
}
.barcelona {
  background-image: url(https://e00-marca.uecdn.es/assets/multimedia/imagenes/2018/03/15/15211195237795.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: fixed;
  display: grid;
  grid-template-columns: 38% 10% 52%;
  grid-template-rows: 12% 44% 44%;
  grid-template-areas: "titulofcb copas escudo" "recordsfcb copas escudo" "videofcb copas 0";
}

.psg {
  background-image: url(https://www.elindependiente.com.ar/elindependiente/1.0/img/483590673.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: fixed;
  display: grid;
  grid-template-columns: 38% 10% 52%;
  grid-template-rows: 12% 44% 44%;
  grid-template-areas: "titulopsg copas escudo" "recordspsg copas escudo" "videopsg copas 0";
}

.newells {
  background-image: url(https://estaticos-cdn.sport.es/clip/de77a7d7-5683-4293-ae10-15b0ad5f4906_alta-libre-aspect-ratio_default_0.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: fixed;
  display: grid;
  grid-template-columns: 38% 10% 52%;
  grid-template-rows: 12% 44% 44%;
  grid-template-areas: "titulonob copas escudo" "recordsnob copas escudo" "videonob copas 0";
}

.footerindex {
  position: relative;
  grid-area: footer;
}
.footerindex .row {
  display: flex;
  justify-content: center;
}
.footerindex h4 {
  display: flex;
  justify-content: center;
  background-color: black;
}
.footerindex ul {
  font-size: 13px;
  width: 100%;
  list-style-type: none;
  text-align: center;
}
.footerindex li {
  display: inline-flex;
}
.footerindex a {
  margin: -10px 0px;
  display: inline-flex;
  text-decoration: none;
  color: aliceblue;
  padding: 14px 35px;
  position: relative;
  top: 2px;
}
.footerindex img {
  position: relative;
  width: 25px;
  height: 25px;
  border: 2px double lightblue;
  left: -5px;
}
.footerindex a:hover {
  background-color: lightblue;
}

.argentina .container footer {
  max-width: 450px;
  padding: auto;
}
.argentina .p0 {
  grid-area: trivia;
}

.barcelona .escudofcb {
  grid-area: escudo;
}

.newells .escudonob {
  grid-area: escudo;
}

.psg .escudopsg {
  grid-area: escudo;
}

header {
  grid-area: header;
}
header .h1 {
  color: aliceblue;
  padding: 15px;
  font-style: oblique;
  animation: scale-up-bottom 0.4s;
}
@keyframes scale-up-bottom {
  0% {
    transform: scale(0.5);
    transform-origin: center bottom;
  }
  100% {
    transform: scale(1);
    transform-origin: center bottom;
  }
}

.argentina .h1arg {
  padding: 20px;
}
.argentina .tituloarg {
  grid-area: tituloarg;
  color: white;
}

.barcelona .titulofcb {
  grid-area: titulofcb;
}

.newells .titulonob {
  grid-area: titulonob;
}

.psg .titulopsg {
  grid-area: titulopsg;
  color: white;
}

main {
  grid-area: main;
  margin-left: 15px;
}
main .h2 {
  font-style: oblique;
  color: aliceblue;
  padding: 20px;
}
main .parrafo {
  font-size: 86%;
  text-align: left;
  color: aliceblue;
  font-weight: bold;
  position: relative;
}

.argentina main ul {
  color: white;
}
.argentina .recordsarg {
  color: white;
  grid-area: recordsarg;
}

.barcelona .recordsfcb {
  grid-area: recordsfcb;
}

.newells .recordsnob {
  grid-area: recordsnob;
}

.psg .recordspsg {
  grid-area: recordspsg;
  color: white;
}
.psg .textopsg {
  font-size: 20px;
}

.navindex {
  position: relative;
  grid-area: nav;
  margin: auto;
}

.argentina .video {
  grid-area: video;
}

.newells .videonob {
  margin: auto;
  margin-bottom: 24px;
}

.psg .videopsg {
  margin: auto;
  margin-bottom: 24px;
  grid-area: videopsg;
}

.sectionindex {
  grid-area: section;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.sectionindex .messiconcopas {
  width: 180px;
  height: 240px;
  object-fit: cover;
  position: relative;
  border: 2px double lightblue;
  border-radius: 10%;
  top: 300px;
  animation: slide-bottom 0.4s linear both;
}
@keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-300px);
  }
}
.sectionindex h3 {
  text-align: left;
  color: white;
  padding: 10px;
  border-bottom: 2px solid lightblue;
  font-size: 12px;
}

.argentina .agasajando {
  border-radius: 100%;
  object-fit: cover;
  grid-area: agasajando;
}

.barcelona .fotocopasfcb {
  grid-area: copas;
}
.barcelona .h3fcb {
  border-color: red;
}

.newells .fotocopasnob {
  grid-area: copas;
}
.newells .h3nob {
  border-color: red;
  display: none;
}
.newells .messinob {
  margin-bottom: 75px;
}

.psg .fotocopaspsg {
  grid-area: copas;
}
.psg .h3psg {
  border-color: darkblue;
}
.psg .messipsg {
  margin-bottom: 75px;
}

/*# sourceMappingURL=styles.css.map */
