aside{
    grid-area: aside;
    position: relative;
    bottom: -30px;
    left: 100%;
}
@media (min-width: 320px) and (max-width: 480px) {
aside{
    aside{
        display: none; 
    }
}    
}
@media (min-width:481px) and (max-width: 596px){ 
}
@media (min-width: 597px) and (max-width: 768px){
}
@media (min-width: 769px) and (max-width: 1024px){   
}
@media (min-width: 1025px) and (max-width: 1200px){
aside{
    position: relative;
    top: 30px;
}   
}
@media (min-width: 1201px) and (max-width:1400px){
aside{
    position: relative;
    top: 30px;
}  
}
@media (min-width: 1401px) and (max-width: 1919px){
}