aside{
    grid-area: aside;
    position: relative;
    bottom: -58px;
    left: 50%;
}
@media (min-width: 320px) and (max-width: 480px) {
aside{

}    
}
@media (min-width:481px) and (max-width: 596px){
aside{
    
}  
}
@media (min-width: 597px) and (max-width: 768px){
aside{
    
}  
}
@media (min-width: 769px) and (max-width: 1024px){
aside{
    
}     
}
@media (min-width: 1025px) and (max-width: 1200px){
aside{
    
}  
    
}
@media (min-width: 1201px) and (max-width:1400px){
aside{
    
}  
}
@media (min-width: 1401px) and (max-width: 1919px){
aside{
    
}  
}