.footerindex{
    margin: auto;
    grid-area: footer;
    button{
    --bg: #000;
    --hover-bg: #ffffff;
    --hover-text: #000;
    color: #fff;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
  }
  
  button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
  button:active {
    transform: translate(0);
    box-shadow: none;
  }
  .facebook{
    background: rgb(37,103,232);
    background: radial-gradient(circle, rgba(37,103,232,1) 0%, rgba(4,127,213,1) 100%);
  }
  .twitter{
    background: rgb(63,193,251);
    background: radial-gradient(circle, rgba(63,193,251,1) 0%, rgba(23,126,172,1) 100%);
  }
  .instagram{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  }
}
.argentina{ 
    .container footer{
        max-width: 450px;
        padding: auto; 
    }
    .p0{
        grid-area: trivia;
        animation:slide-top 1s linear both}@keyframes slide-top{0%{transform:translateY(1000px)}100%{transform:translateY(0px)}
    }  
}
.barcelona{ 
    .escudofcb{
        grid-area: escudofcb;
        animation:slide-top 1s linear both}@keyframes slide-top{0%{transform:translateY(1000px)}100%{transform:translateY(0px)}
    }
}
.newells{
    .escudonob{
        grid-area: escudonob;
        animation:slide-top 1s linear both}@keyframes slide-top{0%{transform:translateY(1000px)}100%{transform:translateY(0px)}
    }
}
.psg{
    .escudopsg{
        grid-area: escudopsg;
        animation:slide-top 1s linear both}@keyframes slide-top{0%{transform:translateY(1000px)}100%{transform:translateY(0px)}
    }
}
@media (min-width: 320px) and (max-width: 480px) {
.footerindex{
    bottom: 20px;
    margin: auto;
    right: 15px;
    position: relative;
    font-size: 9px;
    button{
        padding: 10px;
        margin: 2px;
    }
}
.escudofcb{
    display: none;
}
.escudonob{
    display: none;
}
.escudopsg{
    display: none;
}
.logoafa{
    display: none;
}    
}
@media (min-width:481px) and (max-width: 596px){
.footerindex{
    font-size: 14px;
    margin: auto;
}
.escudofcb{
        display: none;
}
.escudonob{
        display: none;
}
.escudopsg{
        display: none; 
}
.logoafa{
        display: none;
}
}
@media (min-width: 597px) and (max-width: 768px){
.footerindex{
    margin: auto;
}
.escudofcb{
    position: relative;
    margin: auto;
    top: -50px;
}
.escudonob{
    position: relative;
    margin: auto;
    top: -50px;
}
.escudopsg{
    position: relative;
    margin: auto;
    top: -50px;
}
.logoafa{
    height: 190px;
    margin: 50px;
    width: 175px;
    margin-right: -35px;
}
}
@media (min-width: 769px) and (max-width: 1024px){
.footerindex{
    right: 25%;
    position: relative;
    font-size: 20px;
    margin: auto;
    top: 30px;
    button{
        padding: 10px;
        margin: 5px;
    }
    .redes{
        display: flex;
        flex-direction: column;
    }
}
.escudofcb{
    position: relative;
    left: 60px;
    margin: auto;
    height: 250px;
    width: 250px; 
}
.escudonob{
    position: relative;
    left: 60px;
    margin: auto;
    height: 250px;
    width: 250px; 
}
.escudopsg{
    position: relative;
    left: 60px;
    margin: auto;
    height: 250px;
    width: 250px; 
}
.logoafa{
    position: relative;
    left: 60px;
    margin: auto;
    height: 250px;
    width: 250px; 
}    
}
@media (min-width: 1025px) and (max-width: 1200px){
.footerindex{
    margin: auto;
    font-size: 13px;
    position: relative;
    bottom: 20px;
    button{
        padding: 20px;
    }
}
.escudofcb{
    
}
.escudonob{
    
}
.escudopsg{
    
}
.logoafa{
        
}    
}
@media (min-width: 1201px) and (max-width:1400px){
.footerindex{
    margin: auto;
    font-size: 13px;
    position: relative;
    bottom: 20px;
    button{
        padding: 20px;
    }
}
.escudofcb{
    
}
.escudonob{
    
}
.escudopsg{
    
}
.logoafa{
        
}    
}
@media (min-width: 1401px) and (max-width: 1919px){
.footerindex{
    position: relative;
    bottom: 20px;
    margin: auto;
    font-size: 14px;
    button{
        margin: 15px;
        padding: 14px;
        margin-left: 10px;
        margin-right: 20px;
    }
}
.escudofcb{
    
}
.escudonob{
    
}
.escudopsg{
    
}
.logoafa{
        
}
}