.footerindex{
    position: relative;
    grid-area: footer;
    & .row{
        display: flex;
        justify-content: center;
    }
    & h4{
        display: flex;
        justify-content: center;
        background-color: black;
    }
    & ul{
        font-size: 13px;
        width: 100%;
        list-style-type: none;
        text-align: center;
    }
    & li{
        display: inline-flex;
    }
    & a{
        margin: -10px 0px;
        display: inline-flex;
        text-decoration: none;
        color: aliceblue;
        padding: 14px 35px;
        position: relative;
        top: 2px;
    }
    & img{
        position: relative;
        width: 25px;
        height: 25px;
        border: 2px double lightblue;
        left: -5px;
    }
    & a:hover{
        background-color: lightblue;
    }
}
.argentina{ 
    .container footer{
        max-width: 450px;
        padding: auto; 
    }
    .p0{
        grid-area: trivia;
    }  
}
.barcelona{ 
    .escudofcb{
        grid-area: escudo;
    }
}
.newells{
    .escudonob{
        grid-area: escudo;
    }
}
.psg{
    .escudopsg{
        grid-area: escudo;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
.footerindex{
text-align: center;
bottom: 20px;
position: relative;
width: 96%;
margin-left: auto;
margin-right: auto;

    h4{
        font-size: 17px;
    }
    .redes{
        font-size: 9px;
    }
    a{
        padding: 9px 7px;
        margin: -2px;
        position: relative;
        left: -12px;
        top: -6px;
        font-size: 7px;
    }
}
.escudofcb{
    display: none;
}
.escudonob{
    display: none;
}
.escudopsg{
    display: none;
}
.logoafa{
    display: none;
}    
}
@media (min-width:481px) and (max-width: 596px){
.footerindex{
    a{
        padding: 14px 11px;
    }
}
.escudofcb{
        display: none;
}
.escudonob{
        display: none;
}
.escudopsg{
        display: none; 
}
.logoafa{
        display: none;
}
}
@media (min-width: 597px) and (max-width: 768px){
.footerindex{
    a{
        margin: 0px -7px;
    }
    .row{
        position: relative;
        top: 10px;
    }
}
.escudofcb{
    position: relative;
    margin: auto;
    top: -50px;
}
.escudonob{
    position: relative;
    margin: auto;
    top: -50px;
}
.escudopsg{
    position: relative;
    margin: auto;
    top: -50px;
}
.logoafa{
    height: 190px;
    margin: 50px;
    width: 175px;
    margin-right: -35px;
}
}
@media (min-width: 769px) and (max-width: 1024px){
.footerindex{
    margin-top: auto;
    a{
        padding: 14px 11px;
    }
    ul{ 
        display: flex;
        justify-content: center;
    }
}
.escudofcb{
    position: relative;
    left: 60px;
    margin: auto;
    height: 250px;
    width: 250px; 
}
.escudonob{
    position: relative;
    left: 60px;
    margin: auto;
    height: 250px;
    width: 250px; 
}
.escudopsg{
    position: relative;
    left: 60px;
    margin: auto;
    height: 250px;
    width: 250px; 
}
.logoafa{
    position: relative;
    left: 60px;
    margin: auto;
    height: 250px;
    width: 250px; 
}    
}
@media (min-width: 1025px) and (max-width: 1200px){
.footerindex{

}
.escudofcb{
    
}
.escudonob{
    
}
.escudopsg{
    
}
.logoafa{
        
}    
}
@media (min-width: 1201px) and (max-width:1400px){
.footerindex{

}
.escudofcb{
    
}
.escudonob{
    
}
.escudopsg{
    
}
.logoafa{
        
}    
}
@media (min-width: 1401px) and (max-width: 1919px){
.footerindex{

}
.escudofcb{
    
}
.escudonob{
    
}
.escudopsg{
    
}
.logoafa{
        
}
}