.footerindex{
    position: relative;
    grid-area: footer;
    & .row{
        display: flex;
        justify-content: center;
    }
    & h4{
        display: flex;
        justify-content: center;
        background-color: black;
    }
    & ul{
        font-size: 13px;
        width: 100%;
        list-style-type: none;
        text-align: center;
    }
    & li{
        display: inline-flex;
    }
    & a{
        margin: -10px 0px;
        display: inline-flex;
        text-decoration: none;
        color: aliceblue;
        padding: 14px 35px;
        position: relative;
        top: 2px;
    }
    & img{
        position: relative;
        width: 25px;
        height: 25px;
        border: 2px double lightblue;
        left: -5px;
    }
    & a:hover{
        background-color: lightblue;
    }
}
.argentina{ 
    .container footer{
        max-width: 450px;
        padding: auto; 
    }
    .p0{
        grid-area: trivia;
    }  
}
.barcelona{ 
    .escudofcb{
        grid-area: escudo;
    }
}
.newells{
    .escudonob{
        grid-area: escudo;
    }
}
.psg{
    .escudopsg{
        grid-area: escudo;
    }
}