header{
    grid-area: header;
    .h1{
        text-transform: capitalize;
        text-shadow: 20px 20px 4px black, 20px 17px 20px lightblue;
        color: aliceblue;
        padding: 15px;
        font-style: oblique;
        animation:scale-up-bottom 0.4s; } @keyframes scale-up-bottom{0%{transform:scale(.5);transform-origin:center bottom}100%{transform:scale(1);transform-origin:center bottom}
    }
}
.argentina{ 
    .tituloarg{
        text-transform: capitalize;
        grid-area: tituloarg;
        color: white;
        animation:scale-up-bottom 0.4s; } @keyframes scale-up-bottom{0%{transform:scale(.5);transform-origin:center bottom}100%{transform:scale(1);transform-origin:center bottom}
    }
    #gradientetituloarg{
        top: 20px;
        position: relative;
        width: 100%;
        height: 50px;
        border-style: double;
        margin: auto;
        background: rgb(0,236,255);
        background: linear-gradient(90deg, rgba(0,236,255,0.5130427170868348) 0%, rgba(212,204,23,0.3449754901960784) 49%, rgba(0,255,248,0.49343487394957986) 100%);
    }
}
.barcelona{ 
    .titulofcb{
        text-transform: capitalize;
        grid-area: titulofcb;
        color: white;
        margin: auto;
        animation:scale-up-bottom 0.4s; } @keyframes scale-up-bottom{0%{transform:scale(.5);transform-origin:center bottom}100%{transform:scale(1);transform-origin:center bottom}
    }
    #gradientetitulofcb{
        border-style: double;
        margin: auto;
        width: 100% !important;
        height: 50px !important;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,0.35057773109243695) 0%, rgba(9,9,121,0.958420868347339) 35%, rgba(255,0,44,0.2721463585434174) 100%);
    }    
}
.newells{ 
    .titulonob{
        text-transform: capitalize;
        grid-area: titulonob;
        margin: auto;
        animation:scale-up-bottom 0.4s; } @keyframes scale-up-bottom{0%{transform:scale(.5);transform-origin:center bottom}100%{transform:scale(1);transform-origin:center bottom}
    }
    #gradientetitulonob{
        border-style: double;
        margin: auto;
        width: 100%;
        height: 50px;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,0.7539390756302521) 0%, rgba(212,23,23,0.7511379551820728) 49%, rgba(0,0,0,0.6923144257703081) 100%);
    }
}
.psg{
    .titulopsg{
        text-transform: capitalize;
        grid-area: titulopsg;
        color: white;
        margin: auto;
        background: linear-gradient(to bottom, #020024 #090979 #ff002c);
        animation:scale-up-bottom 0.4s; } @keyframes scale-up-bottom{0%{transform:scale(.5);transform-origin:center bottom}100%{transform:scale(1);transform-origin:center bottom}
    }
    #gradientetitulopsg{
        border-style: double;
        margin: auto;
        width: 100%;
        height: 50px;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,0.35057773109243695) 0%, rgba(9,9,121,0.958420868347339) 35%, rgba(255,0,44,0.2721463585434174) 100%);
    }
}
@media (min-width: 320px) and (max-width: 480px) {
.h1{
    font-size: 21px;
    text-align: center;
    margin: auto;
}
.h1psg{
    font-size: 22px;
    margin: auto; 
    padding: 5px;     
}
.h1nob{
    font-size: 22px;
    margin: auto; 
    padding: 5px;   
}
.h1fcb{
    font-size: 22px;
    margin: auto; 
    padding: 5px;    
}
.h1arg{
    font-size: 22px;
    margin: auto; 
    padding: 5px;
}
}
@media (min-width:481px) and (max-width: 596px){
.h1{
    font-size: 25px;
    text-align: center;
    margin: auto;   
}
.h1psg{
    margin: auto; 
}
.h1nob{
    margin: auto;   
}
.h1fcb{
    margin: auto;    
}
.h1arg{
    margin: auto;    
} 
}
@media (min-width: 597px) and (max-width: 768px){
.h1{
    font-size: 23px;
    text-align: center;
    margin: auto;  
}
.h1psg{
    margin: auto;  
}
.h1nob{
    margin: auto;    
}
.h1fcb{
    margin: auto;  
}
.h1arg{
    margin: auto;   
} 
}
@media (min-width: 769px) and (max-width: 1024px){
.h1{
    font-size: 23px;
    text-align: center;
    margin: auto;  
}
.h1psg{
    margin: auto;   
}
.h1nob{
    margin: auto;   
}
.h1fcb{
    margin: auto;    
}
.h1arg{
    margin: auto;     
}    
}
@media (min-width: 1025px) and (max-width: 1200px){
.h1{
        font-size: 25px;
}
.h1psg{
        font-size: 32px;
}
.h1fcb{
    font-size: 30px;
}
.h1arg{
    font-size: 29px;
}     
}
@media (min-width: 1201px) and (max-width:1400px){
.h1{
    font-size: 28px;
}
.h1psg{
        font-size: 38px;
}
.h1fcb{
        font-size: 36px;
}
.h1arg{
       font-size: 36px; 
}     
}
@media (min-width: 1401px) and (max-width: 1919px){
.h1{
        font-size: 31px;
}
}