@font-face {
    font-family: "SansOpen";
    src: url(../assets/fonts/OpenSans-Bold.ttf);
}
header{
    grid-area: header;
    .h1{
        color: aliceblue;
        padding: 15px;
        font-style: oblique;
        animation:scale-up-bottom 0.4s; } @keyframes scale-up-bottom{0%{transform:scale(.5);transform-origin:center bottom}100%{transform:scale(1);transform-origin:center bottom}
    }
}