.navindex{
    position: relative;
    grid-area: nav;
    margin: auto;
}
.argentina{ 
    .video{
        grid-area: video;
        margin: auto;
        width: 600px;
        height: 350px;
    }
}
.newells{
    .videonob{
        margin: auto;
        margin-bottom: 24px;
    }
}
.psg{
    .videopsg{
        margin: auto;
        margin-bottom: 24px;
        grid-area: videopsg;
    }
}
.barcelona{
    .videofcb{
        margin: auto;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    
}
@media (min-width:481px) and (max-width: 596px){

}
@media (min-width: 597px) and (max-width: 768px){

}
@media (min-width: 769px) and (max-width: 1024px){
    
}
@media (min-width: 1025px) and (max-width: 1200px){
    
}
@media (min-width: 1201px) and (max-width:1400px){
    
}
@media (min-width: 1401px) and (max-width: 1919px){

}