.navindex{
    position: relative;
    grid-area: nav;
    margin: auto;
}
.argentina{ 
    .video{
        grid-area: video;
    }
}
.newells{
    .videonob{
        margin: auto;
        margin-bottom: 24px;
    }
}
.psg{
    .videopsg{
        margin: auto;
        margin-bottom: 24px;
        grid-area: videopsg;
    }
}