main{
    grid-area: main;
    margin-left: 15px;
    .h2{
        font-style: oblique;
        color: aliceblue;
        padding: 20px;
    }
    .parrafo{
        font-size: 86%;
        text-align: left;
        color: aliceblue;
        font-weight: bold;
        position: relative;
    }
}
.argentina{
    main ul{
        color: white;
   }
   .recordsarg{
        color: white;
        grid-area: recordsarg;
    }
    .textoarg{
        font-size: 15px;
    }
}
.barcelona{ 
    .recordsfcb{
        grid-area: recordsfcb;
        color: white;
    }
}
.newells{
    .recordsnob{
        grid-area: recordsnob;
    }
}
.psg{
    .recordspsg{
        grid-area: recordspsg;
        color: white;
    }
    .textopsg{
        font-size: 19px;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
.indexmain{
    .h2{
    font-size: 21px;
    text-align: center;
    margin: auto;
    }
    .parrafo{
    margin: auto;
    overflow: scroll;
    height: 415px;
    }
}
.recordsarg{
    .h2{
    font-size: 21px;
    text-align: center;
    margin: auto;
    }
}
.recordsfcb{
    .h2{
    font-size: 21px;
    text-align: center;
    margin: auto;
    }
}
.recordsnob{
    .h2{
    font-size: 21px;
    text-align: center;
    margin: auto;
    }
}
.recordspsg{
    .h2{
    font-size: 21px;
    text-align: center;
    margin: auto;
    }
}    
}
@media (min-width:481px) and (max-width: 596px){
.indexmain{
    .parrafo{
    margin: auto;
    overflow: scroll;
    height: 415px;
    }
}
.recordsarg{
    
}
.recordsfcb{
    
}
.recordsnob{
    
}
.recordspsg{
    
} 
}
@media (min-width: 597px) and (max-width: 768px){
.indexmain{

}
.recordsarg{
    
}
.recordsfcb{
    
}
.recordsnob{
    
}
.recordspsg{
    
} 
}
@media (min-width: 769px) and (max-width: 1024px){
.indexmain{

}
.recordsarg{
    
}
.recordsfcb{
    
}
.recordsnob{
    
}
.recordspsg{
    
}     
}
@media (min-width: 1025px) and (max-width: 1200px){
.indexmain{

}
.recordsarg{
    
}
.recordsfcb{
    
}
.recordsnob{
    
}
.recordspsg{
    
} 
}
@media (min-width: 1201px) and (max-width:1400px){
.indexmain{

}
.recordsarg{
    
}
.recordsfcb{
    
}
.recordsnob{
    
}
.recordspsg{
    
}     
}
@media (min-width: 1401px) and (max-width: 1919px){
.indexmain{

}
.recordsarg{
    
}
.recordsfcb{
    
}
.recordsnob{
    
}
.recordspsg{
    
} 
}