main{
    grid-area: main;
    margin-left: 15px;
    .h2{
        font-style: oblique;
        color: aliceblue;
        padding: 20px;
    }
    .parrafo{
        font-size: 86%;
        text-align: left;
        color: aliceblue;
        font-weight: bold;
        position: relative;
    }
}
.argentina{
    main ul{
        color: white;
   }
   .recordsarg{
        color: white;
        grid-area: recordsarg;
    }
    .textoarg{
        font-size: 15px;
    }
}
.barcelona{ 
    .recordsfcb{
        grid-area: recordsfcb;
        color: white;
    }
}
.newells{
    .recordsnob{
        grid-area: recordsnob;
    }
}
.psg{
    .recordspsg{
        grid-area: recordspsg;
        color: white;
    }
    .textopsg{
        font-size: 19px;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    
}
@media (min-width:481px) and (max-width: 596px){

}
@media (min-width: 597px) and (max-width: 768px){

}
@media (min-width: 769px) and (max-width: 1024px){
    
}
@media (min-width: 1025px) and (max-width: 1200px){

}
@media (min-width: 1201px) and (max-width:1400px){
    
}
@media (min-width: 1401px) and (max-width: 1919px){

}