main{
    grid-area: main;
    margin-left: 15px;
    .h2{
        text-transform: capitalize;
        font-style: oblique;
        color: aliceblue;
        padding: 20px;
    }
    .parrafo{
        padding: 10px;
        background-color: black;
        border-radius: 10px;
        box-shadow: inset 0px 0px 20px 7px rgb(16, 109, 231);
        font-size: 82%;
        text-align: left;
        color: aliceblue;
        font-weight: bold;
        position: relative;
        overflow: scroll;
        height: 80%;
    }
}
.argentina{
    main ul{
        color: white;
        list-style: none;
   }
   .recordsarg{
        color: white;
        grid-area: recordsarg;
    }
    .textoarg{
        padding: 10px;
        background-color: black;
        font-size: 15px;
        border-radius: 10px;
        box-shadow: inset 0px 0px 20px 7px rgb(0, 174, 255);
    }
    .h2{
        text-transform: capitalize;
        text-shadow: 20px 20px 4px black, 20px 17px 20px rgb(0, 106, 206);
    }
}
.barcelona{ 
    .recordsfcb{
        grid-area: recordsfcb;
        color: white;
    }
    .textofcb{   
        padding: 10px;
        background-color: black;
        border-radius: 10px;
        box-shadow: inset 5px 5px 20px 7px red;
    }
    .h2{
        text-transform: capitalize;
        text-shadow: 20px 20px 4px black, 20px 17px 20px rgb(235, 231, 25);
    }
}
.newells{
    .recordsnob{
        grid-area: recordsnob;
    }
    .textonob{
        padding: 10px;
        background-color: black;
        border-radius: 10px;
        box-shadow: inset 0px 0px 20px 7px red;
        color: white;
    }
    .h2{
        text-transform: capitalize;
        text-shadow: 20px 20px 4px black, 20px 17px 20px red;
    }
}
.psg{
    .recordspsg{
        grid-area: recordspsg;
        color: white;
    }
    .textopsg{
        padding: 10px;
        background-color: black;
        border-radius: 10px;
        box-shadow: inset 0px 0px 20px 7px rgb(0, 81, 255);
        font-size: 19px;
    }
    .h2{
        text-transform: capitalize;
        text-shadow: 20px 20px 4px black, 20px 17px 20px rgb(0, 81, 255);
    }
}
@media (min-width: 320px) and (max-width: 480px) {
.indexmain{
    .h2{
    font-size: 21px;
    text-align: center;
    margin: auto;
    }
    .parrafo{
    margin: auto;
    overflow: scroll;
    height: 370px;;
    }
}
.recordsarg{
    .h2{
    font-size: 21px;
    text-align: center;
    margin: auto;
    }
    .textoarg{
        overflow: scroll;
        height: 375px;
    }
}
.recordsfcb{
    .h2{
    font-size: 21px;
    text-align: center;
    margin: auto;
    }
    .textofcb{
        overflow: scroll;
        height: 375px;
    }
}
.recordsnob{
    .h2{
    font-size: 21px;
    text-align: center;
    margin: auto;
    }
    .textonob{
        overflow: scroll;
        height: 375px;
    }
}
.recordspsg{
    .h2{
    font-size: 21px;
    text-align: center;
    margin: auto;
    }
    .textopsg{
        overflow: scroll;
        height: 375px;
    }
}    
}
@media (min-width:481px) and (max-width: 596px){
.indexmain{
.h2{
        font-size: 25px;
        text-align: center;
        margin: auto; 
}
.parrafo {  
        font-size: 10px;
        margin: auto;
        overflow: scroll;
        height: 355px;
            
}
}
.recordsarg{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    .textoarg{
        overflow: scroll;
        height: 375px;
    }
}
.recordsfcb{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    .textofcb{
        overflow: scroll;
        height: 350px;
    }
}
.recordsnob{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    .textonob{
        overflow: scroll;
        height: 375px;
    }
}
.recordspsg{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    .textopsg{
        overflow: scroll;
        height: 375px;
    } 
    .h2{
        font-size: 22px;
    }
} 
}
@media (min-width: 597px) and (max-width: 768px){
.indexmain{
    .h2{
        font-size: 23px;
        text-align: center;
        margin: auto;
    }
    .parrafo {  
        font-size: 12px;
        margin: auto;
        overflow: scroll;
        height: 395px;;           
    }
}
.recordsarg{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    .textoarg{
        overflow: scroll;
        height: 360px;
        text-align: justify;
        margin: auto;
    }
}
.recordsfcb{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    .textofcb{
        overflow: scroll;
        height: 360px;
        text-align: justify;
        margin: auto;
    }
}
.recordsnob{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    .textonob{
        overflow: scroll;
        height: 312px;
        text-align: justify;
        margin: auto;
    }
}
.recordspsg{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    .textopsg{
        overflow: scroll;
        height: 360px;
        text-align: justify;
        margin: auto;
    }
} 
}
@media (min-width: 769px) and (max-width: 1024px){
.indexmain{
    .h2{
    font-size: 23px;
    text-align: center;
    margin: auto;
    }
    .parrafo {  
        font-size: 14px;
        margin: auto;
        overflow: scroll;
        height: 460px;
    }
}
.recordsarg{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    .textoarg{
        overflow: scroll;
        height: 330px;
        text-align: justify;
        margin: auto;
    }
}
.recordsfcb{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    .textofcb{
        overflow: scroll;
        height: 375px;
        text-align: justify;
        margin: auto;
    }
}
.recordsnob{
    font-size: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    .textonob{
        overflow: scroll;
        height: 375px;
        text-align: justify;
        margin: auto;
    }
}
.recordspsg{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    .textopsg{
        overflow: scroll;
        height: 375px;
        text-align: justify;
        margin: auto;
    }
}     
}
@media (min-width: 1025px) and (max-width: 1200px){
.indexmain{
    p{ 
    overflow: scroll;
    height: 75%;
    }
}
.recordsarg{
    .textoarg{
        overflow: scroll;
        height: 150%;
    }
}
.recordsfcb{
    .textofcb{
        overflow: scroll;
        height: 150%;
    }
}
.recordspsg{
    .textopsg{
        overflow: scroll;
        height: 150%;
    }
} 
}
@media (min-width: 1201px) and (max-width:1400px){
.indexmain{
    p{ 
        overflow: scroll;
        height: 65%;
        }
}
.recordsfcb{
    .textofcb{
        overflow: scroll;
        height: 150%;
    }
}   
}
@media (min-width: 1401px) and (max-width: 1919px){
.recordsarg{
    .textoarg{
        overflow: scroll;
        height: 77%;
    }
}
}