.sectionindex{
    grid-area: section;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .messiconcopas{        
        width: 180px;
        height: 240px;
        object-fit: cover;
        position: relative;
        border: 2px double lightblue;
        border-radius: 10%;
        top: 300px;
        animation:slide-bottom 0.4s linear both}@keyframes slide-bottom{0%{transform:translateY(0)}100%{transform:translateY(-300px)}
    }
    h3{
        text-align: left;
        color: white;
        padding: 10px;
        border-bottom: 2px solid lightblue;
        font-size: 12px;
     }
}
.argentina{ 
    .agasajando{
        border-radius: 100%;
        object-fit: cover;
        grid-area: agasajando;
    }
    .messiarg{
        margin-bottom: 30px;
    }
}
.barcelona{ 
    .fotocopasfcb{
        grid-area: fotocopasfcb;
    }
    .h3fcb{
        border-color: red;
    }
    .messifcb{
        margin-bottom: 30px;  
    }
}
.newells{
    .fotocopasnob{
        grid-area: fotocopasnob;
        &, div{
            display: inline-grid;
        }
    }
    .messinob{
        margin-bottom: 75px;
        height: 120px !important;
        width: 120px !important;
    }
    .h3nob{
        border-color: red;
        display: none;
    }
    
}
.psg{
    .fotocopaspsg{
        grid-area: fotocopaspsg;
    }
    .h3psg{
        border-color: darkblue;
    }
    .messipsg{
        margin-bottom: 75px;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
.sectionindex{
position: relative;
bottom: 45px;;
margin: auto;
    
    .messiconcopas{
    height: 100px;
    width: 100px;
    position: relative;
    height: 140px;
    }
    h3{    
    text-align: center;
    }
    .w-100{
        width: 60% !important;
        margin: auto;
    }
}
.agasajando{    
    margin: auto;
    display: grid;
    justify-content: center;
    .h3arg{
        display: none;
    }
    .messiarg{
        height: 60px;
        width: 50px;
    }
}
.fotocopasfcb{
    margin: auto;
    display: grid;
    justify-content: center;
    .h3fcb{
        display: none;
    }
    .messifcb{
        height: 60px;
        width: 50px;
    }
}
}
.fotocopasnob{
    margin: auto;
    display: grid;
    justify-content: center;
    .h3nob{
        display: none;
    }
    .messinob{
        height: 60px;
        width: 50px;
    }
}
.fotocopaspsg{
    margin: auto;
    display: grid;
    justify-content: center;
    .h3psg{
        display: none;
    }
    .messipsg{
        height: 60px;
        width: 50px;
    }
}
@media (min-width:481px) and (max-width: 596px){
.sectionindex{
    bottom: 20px;
    .messiconcopas{
        width: 180px !important;
        margin: auto;
        height: 165px;
    }
    h3{
        text-align: center;
    }
}
.agasajando{
    margin: auto;
    display: grid;
    justify-content: center;
    .h3arg{
        display: none;
    }
    .messiarg{
        height: 70px;
        width: 65px;
    }
}
.fotocopasfcb{
    margin: auto;
    display: grid;
    justify-content: center;
    .h3fcb{
        display: none;
    }
    .messifcb{
        height: 70px;
        width: 65px;
    }
}
.fotocopasnob{
    margin: auto;
    display: grid;
    justify-content: center;
}
.fotocopaspsg{
    margin: auto;
    display: grid;
    justify-content: center; 
}
}
@media (min-width: 597px) and (max-width: 768px){
.sectionindex{
    top: 20px;
    .messiconcopas{
        height: 140px;;
    }
    .w-100{
        width: 70% !important;
        margin: auto;
    }
    h3{
        text-align: center;
    }
}
.agasajando{
    margin: auto;
    display: grid;
    justify-content: center;
    img, .messiarg{
        height: 100px;
        width: 100px !important;
    }
    h3{
        display: none;
    }
}
.fotocopasfcb{
    margin: auto;
    display: grid;
    justify-content: center;
    margin: auto;
    display: grid;
    justify-content: center;
    img, .messifcb{
        height: 100px;
        width: 100px !important;
    }
    h3{
        display: none;
    }
}
.fotocopasnob{
    margin: auto;
    display: grid;
    justify-content: center;
    
    .messinob{
        height: 90px;
        width: 90px !important;
    }
    h3{
        display: none;
    }
}
.fotocopaspsg{
    margin: auto;
    display: grid;
    justify-content: center;
    margin: auto;
    display: grid;
    justify-content: center;
    img, .messipsg{
        height: 100px;
        width: 100px !important;
    }
    h3{
        display: none;
    }   
}
}
@media (min-width: 769px) and (max-width: 1024px){
.sectionindex{
    position: relative;
    top: 35px;
    margin: auto;
    .messiconcopas{
        height: 180px;
    }
    .w-100{
        width: 90% !important;
        margin: auto;
    }
    h3{
        text-align: center;
    }
}
.agasajando{
    margin: auto;
    display: grid;
    justify-content: center;
    .messiarg{
        height: 100px;
        width: 100px;
    }
    .h3arg{
        display: none;
    }
}
.fotocopasfcb{
    margin: auto;
    display: grid;
    justify-content: center;
    .messifcb{
        height: 100px;
        width: 100px;
    }
    .h3fcb{
        display: none;
    }
}
.fotocopasnob{
    margin: auto;
    display: grid;
    justify-content: center;
    .messinob{
        height: 100px;
        width: 100px;
    }
    .h3nob{
        display: none;
    }
}
.fotocopaspsg{
    margin: auto;
    display: grid;
    justify-content: center;   
    .messipsg{
        height: 100px;
        width: 100px;
    }
    .h3psg{
        display: none;
    }
}
}
@media (min-width: 1025px) and (max-width: 1200px){
.sectionindex{

}
.agasajando{
    margin: auto;
    display: grid;
    justify-content: center;
    .h3arg{
        display: none;
    }
}
.fotocopasfcb{
    
        margin: auto;
        display: grid;
        justify-content: center;
    .messifcb{
        height: 100px;
        width: 100px;
    }
    .h3fcb{
        display: none;
    }
}
.fotocopasnob{
    margin: auto;
    display: grid;
    justify-content: center;
    .messinob{
        margin: 10px;
        height: 100px;
        width: 100px;
    }
    .h3nob{
        display: none;
    }
}
.fotocopaspsg{
    .messiarg{
        margin: auto;
        display: grid;
        justify-content: center;
    }
}    
}
@media (min-width: 1201px) and (max-width:1400px){
.sectionindex{

}
.agasajando{
    .messiarg{
        margin: auto;
        display: grid;
        justify-content: center;
    }
}
.fotocopasfcb{
    .messifcb{
        margin: auto;
        display: grid;
        justify-content: center;
    }
}
.fotocopasnob{
    margin: auto;
    display: grid;
    justify-content: center;
    .messinob{
        margin: 25px;
        height: 120px;
        width: 120px;
    }
}
.fotocopaspsg{
    .messiarg{
        margin: auto;
        display: grid;
        justify-content: center;
    } 
}    
}
@media (min-width: 1401px) and (max-width: 1919px){
.sectionindex{

}
.agasajando{
    .messiarg{
        margin: auto;
        display: grid;
        justify-content: center;
    }
}
.fotocopasfcb{
    .messifcb{
        margin: auto;
        display: grid;
        justify-content: center;
    }
}
.fotocopasnob{
    margin: auto;
    display: grid;
    justify-content: center;
    .messinob{
        margin: 25px;
        height: 120px;
        width: 120px;
    }
}
.fotocopaspsg{
        
}
}