.sectionindex{
    grid-area: section;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    .messiconcopas{        
        width: 180px;
        height: 240px;
        object-fit: cover;
        position: relative;
        border: 2px double lightblue;
        border-radius: 10%;
        top: 300px;
        animation:slide-bottom 0.4s linear both}@keyframes slide-bottom{0%{transform:translateY(0)}100%{transform:translateY(-300px)}
    }
    h3{
        text-align: left;
        color: white;
        padding: 10px;
        border-bottom: 2px solid lightblue;
        font-size: 12px;
     }
}
.agasajando{
    border-radius: 100%;
    object-fit: cover;
    grid-area: agasajando;
}
.fotocopasfcb{
    grid-area: copas;
    .h3fcb{
        border-color: red;
    }
}